@import "../../../../static/styles/variables";
@import "../../../../static/styles/animations";

.navbar {
  display: flex;
  z-index: 2 !important;

  &__align-center {
    align-items: center !important;
  }

  &__personal-details--link {
    color: $teal-80;
    text-decoration: none;

    &:hover {
      color: $teal-60;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    min-height: 3.25rem;

    &--logos {
      display: flex;
      align-items: center;
    }
  }

  &__burger-container {
    align-items: center;

    @media screen and (min-width: $desktop) {
      display: none;
    }

    @media screen and (max-width: $desktop) {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;

      a {
        color: $white;
      }
    }
  }

  &__cart {
    background-color: $white;
    height: 100vh;
    padding: 1rem 2rem 1rem 2rem;
  }

  &__badge {
    font-size: 0.75em;
    font-weight: bold;
    margin-left: -5px;
    margin-top: -15px;
  }

  &__right {
    justify-content: flex-end;
  }
}

.side-navigation {
  z-index: 3 !important;
  height: 100vh;
  width: 16.75rem;
  position: fixed;
  transition: 0.3s;
  padding: 1.25rem 0rem;
  background-color: $primary;
  top: 0;

  &__link-container:hover {
    span {
      color: black !important;
    }
  }

  &__side-nav-container {
    height: 100%;
  }

  &__logo-container {
    padding: 0rem 1.625rem;
    justify-content: center;
  }

  &__admin-container {
    padding-top: 0.15rem;
    border-left: 0.063rem solid white;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
  }

  &__link {
    padding: 0.625rem 0rem;
  }

  &__menu-icon {
    width: 1rem;
  }

  &__is-active {
    background-color: $menu-hover;
    span {
      color: black !important;
    }
  }
}

.summary {
  &__table {
    &--data {
      border-left: 1px solid $light !important;
      width: 60%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .navbar__menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99 !important;
    min-height: 100vh;

    &-item {
      color: $white !important;
    }

    &-icon {
      width: 30px;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .dashboard-container {
    margin-left: 16.75rem;
    min-height: 100vh;
  }

  .dashboard-header {
    display: flex;
    flex-wrap: nowrap !important;
  }
}

@media only screen and (max-width: $desktop) {
  .navbar__background {
    &--is-active {
      content: "";
      display: block;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      background-color: $black;
      opacity: 0.9;
      z-index: 1;
      animation: fade ease-in 0.2s;
    }

    .dashboard-header {
      display: flex;
      // flex-wrap: wrap !important;
      width: 100%;
    }

    .dashboard-container {
      flex-wrap: wrap !important;

      // &-title {
      //   width: 100% !important;
      // }
    }
  }

  .navbar__menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    min-height: 100vh;
    max-height: 100vh;

    background-color: $white !important;
    animation: fadeFromRight ease-in 0.3s;

    &-item {
      border-bottom: 0.5px solid $lighter-gray;
      color: $black !important;
      display: flex !important;
      z-index: 2 !important;
    }
  }
}

.notification {
  border-radius: 0px !important;

  &:not(:last-child) {
    margin-bottom: 0px !important;
  }
}

.sign-in-button {
  margin-top: 0rem;
}

@media screen and (max-width: $desktopplus) {
  .cart__container--is-hidden-tablet {
    display: none !important;
  }
}

.toast {
  display: flex;
  width: 100%;
  justify-content: center;

  &__message {
    z-index: 999;
    font-weight: bold;
    position: fixed !important;
    bottom: 5rem;
    padding: 10px 15px !important;
    margin-bottom: 0;
    animation: slideUpAndDown forwards 5s;
    border-radius: 25px !important;
    opacity: 1;
    width: auto;
    // color: white;
  }
}

.bottom-notification {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;

  max-height: 4rem;
  color: $dark;
  background: $teal-20;
  z-index: 3;

  &__delete-button {
    position: absolute !important;
    top: 0.625rem;
    right: 0.625rem;
  }
}

.progress-bar {
  z-index: 39 !important;
  border-radius: 0 !important;
  position: fixed !important;
  top: 3.125rem !important;
  color: #f39151 !important;
}

progress::-moz-progress-bar {
  background: #f39151 !important;
}

progress::-webkit-progress-value {
  background: #f39151 !important;
}

@media screen and (max-width: $tablet) {
  .hero-container {
    background-image: none !important;
  }
}
