@import "../../../../../static/styles/variables";

.column {
  align-items: center !important;
}

.registration-complete {
  &__error {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: $tablet) {
  .image {
    width: 40vw !important;
    margin: 0 auto !important;
  }
}

.has-text-orange {
  color: $orange !important;
}

.has-border-bottom {
  border-bottom: 2px solid $primary;
}

.has-border-top {
  padding-top: 5px;
  border-top: 1px solid black;
}

.informed-consent-document,
.registration-qr-code {
  display: none !important;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body,
  page[size="A4"] {
    margin: 0rem 2rem;
    box-shadow: 0;
  }

  .informed-consent-layout,
  .registration-qr-code-layout {
    display: none !important;
  }

  .consent-scaling {
    font-size: 0.688rem !important;
  }

  .label-scaling {
    font-size: 0.75rem !important;
  }

  .informed-consent-document,
  .registration-qr-code {
    display: block !important;
  }
}

.summary {
  &__table {
    &--data {
      border-left: 1px solid $light !important;
      width: 30%;
    }
  }

  &__table-summary {
    &--data {
      border-left: 1px solid $light !important;
      width: 60%;
    }
  }
}

.collapsible {
  overflow-y: scroll;
  height: 20rem;
}

.vaccine-card-delete {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-input[type="number"] {
  -moz-appearance: textfield;
}
